p.footer-nav 
  a(href="https://twitter.com/ollie_rogers") Twitter
  |:
  a(href="http://codepen.io/ollieRogers/") Codepen
  |:
  a(href="http://uk.linkedin.com/in/ollierogers") LinkedIn
  |:
  a(href="/contact") Contact
