svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='52px', height='52px', viewbox='0 0 52 52', enable-background='new 0 0 52 52', xml:space='preserve')
  g
    path.svg-logo(d='M35.222,9.519c-2.722-1.522-5.861-2.39-9.202-2.39c-2.579,0-5.037,0.518-7.279,1.453v6.725L35.222,9.519z')
    path.svg-logo(d='M7.129,26.02c0,6.047,2.841,11.43,7.259,14.887V11.136C9.97,14.593,7.129,19.976,7.129,26.02z')
    path.svg-logo(d='M18.741,19.923v23.533c2.242,0.937,4.7,1.458,7.279,1.458c10.435,0,18.894-8.459,18.894-18.894\ c0-5.21-2.112-9.93-5.524-13.348L18.741,19.923z')
  path.svg-logo.highlight(d='M26,3.355c12.508,0,22.645,10.14,22.645,22.645c0,12.508-10.137,22.645-22.645,22.645C13.495,48.645,3.355,38.508,3.355,26\ C3.355,13.495,13.495,3.355,26,3.355 M26,0C19.056,0,12.527,2.704,7.615,7.615C2.704,12.527,0,19.056,0,26\ s2.704,13.477,7.615,18.385C12.527,49.294,19.056,52,26,52s13.477-2.706,18.385-7.615C49.294,39.477,52,32.944,52,26\ s-2.706-13.473-7.615-18.385C39.477,2.704,32.944,0,26,0L26,0z')
