ul.nav
  li.logo
    a(href="/")
      include ./logo
  each name in [ "projects", "contact", "lab" ]
    if ( name=="projects" )
      li( class=(title === 'Designer & Front End Developer' ? 'active' : '') )
        a( href='/' )= name
    else if ( name=="lab" )
      li( class=(title === 'experiments' ? 'active' : '') )
        a( href='/experiments' )= name
    else
      li( class=(title === name ? 'active' : '') )
        a( href='/'+name.toLowerCase() )= name
