svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='30px', height='30px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve', xmlns:xml='http://www.w3.org/XML/1998/namespace')
          g#icon
            circle.dot(cx='48.304', cy='15.633', r='7.857')
            circle.dot(cx='73.069', cy='25.843', r='7.857')
            path.dot(d='M83.365,62.441c-6.565,0-11.874-5.307-11.874-11.862c0-6.559,5.314-11.874,11.874-11.87   c6.555-0.002,11.871,5.312,11.871,11.87C95.236,57.133,89.92,62.441,83.365,62.441z')
            circle.dot(cx='73.152', cy='75.339', r='7.857')
            circle.dot(cx='48.42', cy='85.631', r='7.857')
            circle.dot(cx='23.655', cy='75.421', r='7.857')
            path.dot(d='M13.363,42.835c4.345,0,7.855,3.515,7.857,7.855c0,4.345-3.519,7.863-7.857,7.859c-4.345,0-7.863-3.519-7.863-7.859   S9.022,42.835,13.363,42.835z')
            path.dot(d='M29.127,20.369c3.072,3.074,3.068,8.04,0,11.111c-3.068,3.072-8.045,3.072-11.113,0.002   c-3.07-3.07-3.07-8.047-0.002-11.117C21.082,17.296,26.059,17.302,29.127,20.369z')