extend layout

block content
  h1 Experiments 
  p I love messing around with web technology. Particularly CSS and Javascript. Markup abstraction tools like jade and HAML allow you to do some pretty cool stuff. Although the source is ugly once it's compiled, the code that produces it is far more sensible. Below are a few things I've been playing around with on 
    a(href="http://codepen.io/ollieRogers/", target="_blank") codepen.

  h2 CSS Iris animation using box shadow
  p(data-height="305" data-theme-id="0" data-slug-hash="rKIFo" data-default-tab="result" class='codepen') 
  
  h2 CSS standing wave animation
  p(data-height="400" data-theme-id="0" data-slug-hash="kmrvj" data-default-tab="result" class='codepen') 

  h2 HTML5 movie scrolling controls
  p(data-height="400" data-theme-id="0" data-slug-hash="lfeLc" data-default-tab="result" class='codepen')
  
block extrajs
  script(async, src="//codepen.io/assets/embed/ei.js")