doctype html
html
  head
    title Ollie Rogers | #{title}
    != css('style') 
    meta( name="viewport", content="width=device-width, initial-scale=1, user-scalable=1")
    meta( name="description", content="Designer and front end developer based in Hove. Works at 3ev" )
      
  body
    nav
      include ./partials/nav
    
    block banner
    
    .container
      .main-content
        block content 
    
    footer
      include ./partials/footer.jade

    block extrajs 
    != js('main') 