#banner 
  margin 0
  padding 0
  background  center center no-repeat secondary-color
  background-size cover
  color lighten(secondary-color, 100%)
  position relative
  overflow hidden
  .texture 
    display block
    width 100%
    height 100%
    position absolute
    background url(stripe-bg) 0 0 repeat
    opacity 0.35
  #banner-img
    position absolute
    width 100%
    height 100%
    top 0
    background url(/img/mugshot.jpg) center center  no-repeat
    background-size cover
    opacity 0.5
    &.hidden
      opacity 0
    &.fade-in 
      transition opacity 1000ms ease
  .container 
    height 350px
    position relative
  .message 
    width 50%
    position absolute
    top 0
    right 0
    padding-top 50px
    font-family display-font
    font-weight 100
    font-size 50px
    text-transform uppercase
    text-align right
    .name
      font-size 1.4em
    .job
      font-size 0.8em
      padding-top 0.4em
    button 
      margin-top 40px
      padding 0 30px