nav
  height menu-height
  background linear-gradient(top right, menu-color, darken(menu-color, 30%) )
  border-bottom 5px solid darken(menu-color, 30%)
  ul 
    padding 0
    margin 0
    height menu-height
    width 1000px
    margin 0 auto
    li 
      height menu-height 
      display block
      float left
      a 
        letter-spacing 1px
        color menu-link-color
        text-transform capitalize
        height menu-height
        display block
        text-decoration none
        line-height menu-height
        font-family menu-font
        font-weight 100
        font-size 24px
        padding 0 25px
        transition(color, 200ms, ease)
        &:hover
          color lighten(menu-link-color,20%)
      &.logo 
        width 52px
        height 52px
        margin-top 25px
        margin-right 20px
        a
          letter-spacing 0
          line-height 0
          padding 0
          height auto
          transition opacity 200ms ease
          &:hover 
            opacity 0.6
        .svg-logo 
          fill lighten(menu-color, 15%) 
          box-shadow 0 0 10px black
          &.highlight
            fill darken(menu-color, 7%)
      &.active 
        a 
          cursor default
          color lighten(menu-color, 100%)
      &:last-child 
        a 
          border-right none