
@media (max-width: 1040px)
  .container, nav ul
    width 100%
    padding 0 20px
    box-sizing border-box
  footer 
    width 100%
    padding 15px 10px
    box-sizing border-box
  #banner .message
    padding-right 20px
    box-sizing border-box
    width 100%

@media (max-width: 860px)
  #banner 
    .message
      .job
        font-size 0.6em
      .name
        font-size 1.1em

@media (max-width: 600px)
  .work-row
    margin-bottom 0 
    .work-link
      width 100%
      margin-bottom 30px 
      padding 0
      + .work-link
        padding 0

@media (max-width: 525px)
  #banner 
    .message
      .job
        float right
        font-size 0.4em
      .name
        width 70%
        float right
        font-size 1.1em

@media (max-width: 440px)
  #banner 
    #banner-img
      background-image url(mugshot-mob)
    .message
      .name
        width 100%
        font-size 0.7em
  nav 
    height auto
    padding-top 10px
    padding-bottom 10px
    ul 
      height auto
      padding 0
      li
        float none
        width 100%
        height 40px
        line-height 40px
        a
          width 100%
          float none
          padding 0 20px
          height 40px
          line-height 40px
          box-sizing(border-box)
        &.logo
          margin 0 auto 0