/*
 * Import nib & add moz vendor prefixes
 */
vendor-prefixes ?= webkit moz official 
@import 'nib'


/*
 * import theme and variables
 */
@import "theme/pink-cream"
@import "variables"


/*
 * nib global reset
 */
global-reset()


/*
 * styles
 */
@import "images"
@import "typography"
@import "nav"
@import "layout"
@import "banner"
@import "forms"
@import "animations"
@import "responsive"
