

disabled-color = #999
input-color = #fff


menu-color = main-color
menu-link-color = secondary-color


bg-color = quad-color
body-text-color = darken(main-color, 60%) 
heading-text-color = main-color
link-color = main-color


input-bg = input-color
border-color = input-color


// animations
form-transition-speed = 500ms

// settings
menu-height = 80px



