

disabled-color = #999
input-color = #fff


menu-color = main-color
menu-link-color = secondary-color


bg-color = tertiary-color
body-text-color = darken(main-color, 60%) 
heading-text-color = main-color
link-color = main-color
banner-color = secondary-color


input-bg = input-color
form-border-color = darken(bg-color, 5%)
form-border-color = desaturate(form-border-color, 40%)

// animations
form-transition-speed = 500ms

// settings
menu-height = 80px



