
@media (max-width: 1040px)
  .container, nav ul
    width 100%
    padding 0 20px
    box-sizing border-box
  footer 
    width 100%
    padding 15px 10px
    box-sizing border-box
  #banner .message
    padding-right 20px
    box-sizing border-box
    width 100%

@media (max-width: 600px)
  .work-row
    .work-link
      width 100%
      padding 0
      + .work-link
        padding 0
  
@media (max-width: 400px)
  nav 
    height auto
    padding-top 10px
    ul 
      height auto
      padding 0
      li
        float none
        width 100%
        height 40px
        line-height 40px
        a
          width 100%
          float none
          padding 0 20px
          height 40px
          line-height 40px
          box-sizing(border-box)
        &.logo
          margin 0 auto 10px