// font settings


// body-font = 'Duru Sans'
// display-font = 'Belgrano'



p 
  line-height 1.8em
  font-weight normal
  padding-bottom 1em
  a 
    color link-color 
    text-decoration none
    transition background-color 300ms ease, color 300ms ease
    &:hover
      background-color link-color
      color bg-color
h1  
  font-size 40px
  padding-bottom 0.4em
  font-family display-font
  font-weight 200
  text-transform uppercase
  color heading-text-color
h2
  font-size 24px
  padding-bottom 0.5em
  font-family display-font
