/*
 * Get Raleway font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Raleway:800,400,200,100');


// fonts
body-font = 'Raleway'
body-font-size = 18px
display-font = 'Raleway'
menu-font = 'Raleway'


// color settings

// orange & blue
main-color = #0C74FF
secondary-color = #FF6449
tertiary-color = lighten(#F6FFCD, 70%)
ok-color = #7DFFFD