/*
 * Get Raleway font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Raleway:800,400,200,100');


// fonts
body-font = 'Raleway'
body-font-size = 18px
display-font = 'Raleway'
menu-font = 'Raleway'


// color settings

// pink & cream
main-color = #FF0051
secondary-color = #070F14
tertiary-color = #EBE9C0
ok-color = darken(secondary-color, 70%)
