/*
 * Get Raleway font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Raleway:800,400,200,100');


// fonts
body-font = 'Raleway'
body-font-size = 18px
display-font = 'Raleway'
menu-font = 'Raleway'


// color settings

// orange & blue
main-color = #FF3700
secondary-color = #00284D
tertiary-color = #FF06D0
quad-color = #D6EDFF
ok-color = #3CF715