/*
 * Get Raleway font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Raleway:800,400,200,100');


// fonts
body-font = 'Raleway'
body-font-size = 18px
display-font = 'Raleway'
menu-font = 'Raleway'


// color settings

// red & grey 
main-color = #E51C1C
secondary-color = #000
tertiary-color = blue
quad-color = #f9f9f9
ok-color = #4C7438

